// COLORS
// Accent Colors
$primary-color: #FF6363;
$secondary-color: #3B82F6;

// Background & Text Neutrals
$white-color: #FDF6F0;
$dark-grey: #2C2C2E;
$dark-blue-text: #111827;

// Optional Extras
$muted-accent: #94A3B8;
$light-background: #F8F9FA;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
